
<input-field (onType)="filter($event)"
    [icon]="'trip_origin'"
    [placeholder]="'search stops'"
    [type]="'start'"
    [title]="'Stops'"
    [mapLink]="['stops', 'map']">
</input-field>

<div class="stop-dropdown" *ngIf="stops$ | async as stops">
    <h1>Stops</h1>
    <div class="list" *ngIf="stops && stops.length > 0">
        <dropdown-option *ngFor="let stop of stops"
            [text]="stop.desc"
            [details]="stop.code"
            [mentos]="mentos(stop)"
            [data]="stop.code"
            (e)="onSelect($event)">
        </dropdown-option>
    </div>
</div>
