
<select-component *ngIf="currentRoute$ | async as route"
  [payload]="route"
  [placeholder]="'Select a day'"
  [module]="'schedule'">
</select-component>

<div class="stations-list" #stationList (scroll)="onScroll($event)">
    <div class="outer-container">
      <ul class="station-line">
          <li *ngFor="let stop of currentRouteStops$ | async let last = last">
            <list-item (onClick)="onSelect($event)"
              [stop]="stop"
              [isLast]="last">
            </list-item>
          </li>
      </ul>
    </div>
</div>

