
:host{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    width: 100%;
}

.timeline-wrapper{
    position: relative;
    height: 100%;
}

.options-wrapper{
    display: flex;
    flex-direction: column;
}

.stations-list{
    width: 100%;
    color: rgb(89, 89, 89);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    height: calc(100vh - 230px);
    overflow: auto;
}

.station-line{
    list-style: none;
}

.station-details{
    display: flex;
    flex-direction: column;
    margin-top: -3px;
    padding-left: 25px;
    padding-bottom: 15px;
}

.station-item{
    border-left: 2px solid #6c757d2b;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    cursor: pointer;
    border-radius: 5px;
}

i{
    margin-left: -7.7px;
    font-size: 13px;
    color: #232631;
}

.outer-container{
    margin-left: -15px !important;
}

.last-station{
    border: none;
}

.last-station>div{
    padding-bottom: 0px;
}

.station-name{
    color: #373a50;
    font-weight: 600;
}

.arrive-time{
    color: #868d95;
}

.fa-map-marker{
    margin-left: -5.5px !important;
    font-size: 15px !important;
}

.name-wrapper{
    width: 100%;
    text-align: left;
    margin-left: 40px;
}

.stations-header{
    color: #373a50;
}

ul{
    padding-top: 10px;
}
