
:host{
    width: 99%;
    padding: 20px 0px 0 20px;
}

.option-list{
    display: flex;
    flex-direction: column;
    width: 99%;
    overflow: auto;
    max-height: calc(100vh - 290px);
    padding-right: 20px;
}

h1{
    margin-bottom: 5px;
    color: #2b3b4c;
    font-family: "Lexend Deca",sans-serif;
    font-weight: 600;
    font-size: 21px;
}
