

<div class="main" *ngIf="vm$ | async as vm else noItineraries">

    <spinner-component *ngIf="vm.spinner || vm.state.book"></spinner-component>
    <toaster-component [msg$]="vm.state.toaster"></toaster-component>

    <h1>Itineraries</h1>
    <div class="option-list" *ngIf="vm.plan && vm.plan.itineraries.length > 0 else noItineraries">

        <trip-component *ngFor="let it of vm.plan.itineraries let i=index"
            (msg)="onSelect($event)"
            (book)="onBook($event)"
            [itinerary]="it"
            [date]="vm.plan.date"
            [data]="i"
            [occupancy]="vm.occupancy">
        </trip-component>

    </div>
</div>

<ng-template #noItineraries>
    <div class="option-list">
        <app-option [text]="'No itineraries found'"></app-option>
    </div>
</ng-template>
