
:host{
    width: 100%;
}

.option-list{
    display: flex;
    flex-direction: column;
    width: 100%;
    overflow: auto;
    max-height: calc(100vh - 270px);
    padding-right: 3px;
}

h1{
    margin-top: 10px;
    margin-bottom: 12px;
    color: #2b3b4c;
    font-family: "Lexend Deca",sans-serif;
    font-weight: 600;
    font-size: 18px;
}

.main{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 100%;
    padding: 0px 15px 0px 15px;
    height: calc(100vh - 140px);
    position: relative;
}

