
:host{
    width: 100%;
    padding: 15px 15px 0 15px;
}

.option-list{
    display: flex;
    flex-direction: column;
    width: 100%;
    overflow: auto;
    max-height: calc(100vh - 270px);
    padding-right: 3px;
}

h1{
    margin-bottom: 5px;
    color: #2b3b4c;
    font-family: "Lexend Deca",sans-serif;
    font-weight: 600;
    font-size: 18px;
}
