
:host{
    width: 100%;
    padding: 15px 15px 0px 15px;
}

.option-list{
    display: flex;
    flex-direction: column;
    width: 100%;
    overflow: auto;
    max-height: calc(100vh - 270px);
    gap: 5px;
    padding-right: 3px;
}

h1{
    margin-bottom: 10px;
    color: #2b3b4c;
    font-family: "Lexend Deca",sans-serif;
    font-weight: 600;
    font-size: 18px;
}

.entity-wrapper{
    background: rgb(227,227,236);
    background: linear-gradient(90deg, rgba(227,227,236,1) 0%, rgba(255,255,255,1) 100%);
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.entity-wrapper:hover{
    cursor: pointer;
}

.entity-container{
    color: #545f6d;
    font-size: 14px;
    padding: 10px 10px 10px 10px;
}

.panel-title{
    display: flex;
    flex-direction: row;
    gap: 5px;
}

.mode{
    font-size: 12px;
    font-weight: bold;
    color: #2e3e51;
}

.mode-details{
    font-size: 12px;
    color: #2e3e51;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}

.walk-steps, .bus-route{
    display: flex;
    flex-direction: column;
    gap: 2px;
    padding: 8px;
    width: 100%;
}

.step{
    display: flex;
    flex-direction: row;
    width: 100%;
    gap: 8px;
    padding: 3px 3px 3px 3px;
    background: linear-gradient(90deg, rgb(210 210 225) 0%, rgb(245 245 255) 100%);
    align-items: center;
}

.step>i, span{
    color:#2e3e51 !important;
    /* font-size: 14px !important; */
    font-weight: bold !important;
}

.step-desc{
    color:#2e3e51;
    font-size: 12px;
}

.stops{
    padding: 0.2em 0.4em;
    font-style: italic;
    font-weight: bold;
    cursor: pointer;
}

.step-dist{
    color: #545f6d;
    font-size: 11px;
    font-weight: bold;
    margin-left: auto;
}

.fa-sort-down{
    margin-left: auto;
    color: #002D62;
}

::ng-deep .mat-expansion-panel-header {
    padding: 0 !important;
}

::ng-deep .mat-expansion-panel-header{
    height: 21px;
}

::ng-deep .mat-expansion-panel {
    background: transparent !important;
}

::ng-deep .mat-expansion-panel:not([class*=mat-elevation-z]) {
    box-shadow: none !important;
}

::ng-deep .mat-expansion-panel-header.mat-expanded {
    height: unset;
}

::ng-deep .mat-expansion-panel-body {
    padding: 0px !important;
}

::ng-deep .mat-flat-button.mat-primary, .mat-raised-button.mat-primary, .mat-fab.mat-primary, .mat-mini-fab.mat-primary {
    background-color: #002D62;
}

::ng-deep .mat-raised-button {
    min-width: unset !important;
    line-height: unset !important;
    padding: 1px 5px 0px 5px !important;
    font-size: 14px !important;
}

::ng-deep .mat-expansion-panel-header-title, .mat-expansion-panel-header-description {
    margin-right: 0px !important;
}

.header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-right: 10px;
    gap: 5px;
}

.book-menu{
    margin-right: 10px;
    margin-left: 5px;
}

::ng-deep .mat-button.mat-primary, .mat-icon-button.mat-primary, .mat-stroked-button.mat-primary {
    color: #2b3b4c !important;
}

::ng-deep .mat-button, .mat-icon-button, .mat-stroked-button {
    background: rgb(0 0 0 / 10%) !important;
}

button{
    font-size: 14px !important;
    font-weight: bold;
}