
<div class="item-wrapper" [class.last-station]="isLast" (click)="selectStop()">
    <i class="fas icon" 
        [class.fa-dot-circle]="!isLast" 
        [class.fa-map-marker-alt]="isLast">
    </i>
    <div class="station-details">
        <span class="station-name">{{stop.desc}}({{stop.code}})</span>
        <ng-container *ngIf="schedules$ | async as schedules else noIncoming">
            <ng-container *ngIf="schedules.length > 0 else noIncoming">
                <span class="arrive-time">Departures: 
                    <ng-container *ngFor="let schedule of schedules let last=last">
                        <span *ngIf="!last">{{schedule.tripTime}}', </span>
                        <span *ngIf="last">{{schedule.tripTime}}'</span>
                    </ng-container>
                </span>
            </ng-container>
        </ng-container>
    </div>
</div>

<ng-template #noIncoming >
    <span class="arrive-time">No arrivals for this day</span>
</ng-template>
