
.item-wrapper{
    border-left: 2px solid #6c757d2b;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    cursor: pointer;
    border-radius: 5px;
}

.station-details{
    display: flex;
    flex-direction: column;
    margin-top: -3px;
    padding-left: 25px;
    padding-bottom: 15px;
}

.icon{
    margin-left: -7.7px;
    font-size: 13px;
    color: #323541;
}

.station-name{
    color: #373a50;
    font-weight: 600;
    font-size: 14px;
}

.arrive-time{
    color: #868d95;
    font-size: 14px;
}

.fa-map-marker-alt{
    margin-left: -5.5px !important;
    font-size: 15px !important;
}

.last-station{
    border: none;
}

@media screen and (max-width: 800px) {
    .station-name{
        font-size: 13px;
    }
}

@media screen and (max-width: 700px) {
    
}

@media screen and (max-width: 600px) {
    
}

@media screen and (max-width: 500px) {
    
}

