
<ng-container *ngIf="vm$ | async as vm">
    <ng-container *ngIf="vm.route">

        <input-field
            (save)="onSave($event)"
            (remove)="onRemove($event)"
            [dots]="authenticated"
            [value]="vm.route.desc"
            [icon]="'route'"
            [type]="'start'"
            [disabled]="true"
            [code]="vm.route.code"
            [saved]="vm.saved"
            [title]="'Route details'"
            [mapLink]="['lines', vm.route.lineId, 'route', vm.route.code, 'map']">
        </input-field>

        <div class="main">

            <spinner-component *ngIf="vm.spinner"></spinner-component>
            <toaster-component [msg$]="msgSubject()"></toaster-component>

            <router-outlet></router-outlet>

        </div>
        
    </ng-container>
</ng-container>
