
:host{
    width: 25vw;
    min-width: 342px;
    flex-direction: column;
    font-family: "Lexend Deca",sans-serif;
    align-items: center;
    display: block;
}

::ng-deep .mat-ink-bar{
    background-color: #1f63d4 !important;
}

::ng-deep .mat-tab-label, 
::ng-deep .mat-tab-label-active{
    min-width: 0 !important;
    padding: 3px !important;
    margin: 3px !important;
    color: #373a50 !important;
    font-weight: 700 !important;
}

mat-tab-group{
    width: 100%;
    padding: 0px 15px 0px 15px;
}

.option-list{
    display: flex;
    flex-direction: column;
    width: 100%;
    overflow: auto;
    max-height: calc(100vh - 220px);
    padding-right: 3px;
    margin-top: 5px;
}

@media screen and (max-width: 800px) {
    :host{
        min-width: 330px;
    }
}

@media screen and (max-width: 700px) {
    :host{
        min-width: 270px;
    }
}

@media screen and (max-width: 600px) {
    :host{
        min-width: 250px;
    }
}

@media screen and (max-width: 500px) {
    :host{
        width: 100vw;
    }
}
