
<input-field 
    [disabled]="true"
    [value]="value"
    [icon]="'trip_origin'"
    [placeholder]="'search stops'"
    [type]="'start'">
</input-field>

<mat-tab-group mat-stretch-tabs animationDuration="300ms" [(selectedIndex)]="selectedTab">
    <mat-tab label="Lines">
        <div class="option-list">
            <app-option *ngFor="let route of routes$ | async"
                [icon]="'route'"
                [text]="route.desc"
                [desc]="route.name">
            </app-option>
        </div>
    </mat-tab>
    <mat-tab label="Telematics">
        <div class="option-list" *ngIf="departures$ | async as departures">
            <bus-entity [buses]="departures"></bus-entity>
        </div>
    </mat-tab>
</mat-tab-group>
