
<h1>{{title}}</h1>

<div class="list">
    <ng-container *ngFor="let data of data">
        <div class="option-wrapper">
            <div class="text-section" (click)="select(data)">
                <div class="name">
                    <span>{{data.desc}}</span>
                </div>
                <div class="details">
                    <span>{{data.name}}</span>
                </div>
            </div>
            <div class="save-btn">
                <i class="far fa-bookmark"></i>
            </div>
        </div>
    </ng-container>
</div>


