
<ng-container *ngIf="buses$ | async as buses else noIncoming">
    <div class="entity-wrapper" *ngFor="let bus of buses" (click)="selectBus(bus.VEH_NO)">
        <div class="entity-container">
            <div class="entity-type">
                <i class="fas fa-bus"></i>
                <span class="option-text">BUS {{bus.VEH_NO}}</span>
            </div>
            <div class="text-content">
                <i class="fas fa-map-marker-alt icon"></i>
                <span class="description">{{bus.NEXT_STOP}}</span>
            </div>
            <div class="text-content">
                <i class="far fa-hourglass icon icon"></i>
                <span class="description"><span class="bold">{{bus.BTIME}}</span> Minutes</span>
            </div>
            <div class="text-content">
                <i class="far fa-user icon"></i>
                <span class="description"><span class="bold">{{bus.PASSENGERS}}</span>/25</span>
            </div>
        </div>
    </div>
</ng-container>

<ng-template #noIncoming>
    <div class="entity-wrapper" (click)="navigate()">
        <div class="entity-container">
            <div class="text-content-no-incoming">
                <span class="option-text">No incoming bus</span>
                <span class="description">Click to see departures</span>
            </div>
        </div>
    </div>
</ng-template>  

    
    






