
<div class="option-list">

    <ng-container *ngIf="flag else stopList">
        <ng-container *ngIf="showDefaultSwitch$ | async as flag else stopList">

            <app-option
                [icon]="'route'"
                [text]="'Direct routes'"
                [data]="['route']">
            </app-option>

            <app-option (onSelect)="tripPlanner()"
                [icon]="'departure_board'"
                [text]="'Trip planner'"
                [data]="['plan']">
            </app-option>
    
        </ng-container>
    </ng-container>

</div>

<ng-template #stopList>

    <app-option (onSelect)="onLocation($event)"
        [icon]="'my_location'"
        [text]="'My location'"
        [data]="['my_location']">
    </app-option>

    <app-option *ngIf="!saved" (onSelect)="onMap($event)"
        [icon]="'map'"
        [text]="'Select on map'"
        [data]="['interactive']">
    </app-option>

    <ng-container *ngFor="let stop of stops$ | async">

        <app-option (onSelect)="onClick($event)"
            [icon]="'location_on'"
            [text]="stop.desc"
            [desc]="stop.code"
            [data]="[stop.code, stop.desc, stop.latitude, stop.longitude]">
        </app-option>

    </ng-container>
</ng-template>

