
<div class="option-list">

    <ng-container *ngIf="flag else stopList">
        <ng-container *ngIf="showDefaultSwitch$ | async as flag else stopList">

            <app-option (onSelect)="navigate($event)"
                [icon]="'settings'"
                [text]="'Options'"
                [data]="['options']">
            </app-option>

            <app-option (onSelect)="onCalculate()"
                [icon]="'route'"
                [text]="'Calculate route'"
                [data]="['directions']">
            </app-option>
    
        </ng-container>
    </ng-container>

</div>

<ng-template #stopList>
    <ng-container *ngFor="let stop of stops$ | async">
        <app-option (onSelect)="onClick($event)"
            [icon]="'location_on'"
            [text]="stop.desc"
            [desc]="stop.code"
            [data]="[stop.code, stop.desc, stop.latitude, stop.longitude]">
        </app-option>
    </ng-container>
</ng-template>

