
<input-field (onType)="filter($event)"
    [icon]="'search'"
    [placeholder]="'search bookings'"
    [title]="'Bookings'">
</input-field>

<div class="main" *ngIf="vm$ | async as vm">

    <spinner-component *ngIf="vm.spinner || vm.state.delete_id != -1"></spinner-component>
    <toaster-component [msg$]="vm.state.toaster"></toaster-component>

    <h1>My bookings</h1>
    <div class="option-list">
        <ng-container *ngIf="vm.bookings.length > 0 else noBookings">

            <booking-component *ngFor="let booking of (vm.bookings | bookings: value); let i=index"
                [booking]="booking"
                [index]="i"
                (cancel)="onCancel($event)"
                (map)="onMap($event)"
                (qr)="showQR($event)"
                (stop)="showStop($event)">
             </booking-component>
                
        </ng-container>
    </div>
</div>

<ng-template #noBookings>

    <app-option (onSelect)="tripPlanner()"
        [text]="'No bookings'"
        [desc]="'Click to add'">
    </app-option>

</ng-template>