:host{
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    width: 100%;
    gap: 10px;
    background: white;
    box-shadow: 0 2px 5px #0000004d;
}

.show{
    display: none !important;
}

.left-wrapper {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 15px;
    padding: 15px 0 21px 15px;
    background: rgb(221,220,229);
    background: linear-gradient(90deg, rgba(221,220,229,1) 0%, rgba(254,254,254,1) 100%);
    position: relative;
}

.start{
    color: #3e3aef;
}

.end{
    color: #db1de3;
}

.route{
    font-weight: 900;
}

.right-wrapper{
    padding-bottom: 15px;
    width: inherit;
    display: flex;
    flex-direction: column;
    gap: 8px;
    position: relative;
}

.fa-times{
    margin-top: 5px;
    cursor: pointer;
}

input {
    outline: none;
    border: none;
    border-bottom: 3px solid #f7f8fe;
    background: transparent;
    width: 87%;
    font-size: 14px;
    padding-bottom: 6px;
    color: #2b3b4c;
    font-weight: 500;
}
.arrow{
    color: #2d3b50;
    font-size: 33px;
    font-weight: 600;
    cursor: pointer;
}

.input-list{
    display: flex;
    flex-direction: row;
    gap: 5px;
}

.bars{
    color: #373a50;;
    font-weight: 600;
    font-size: 27px;
    cursor: pointer;
}

.icons{
    align-self: flex-end;
    margin-bottom: 12px;
    margin-right: 22px;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 15px;
}

.fa-map{
    font-size: 20px !important;
    cursor: pointer;
}

@media screen and (min-width: 500px) {
    .fa-map{
        /* display: none; */
    }
}
