
<div class="left-wrapper">
    <span class="arrow material-symbols-outlined" (click)="goBack()">
        keyboard_backspace
    </span>
    <span class="route material-symbols-outlined" [ngClass]="{'start': type === 'start', 'end' : type === 'dest' }">
        {{icon}}
    </span>
</div>
<div class="right-wrapper">
    <div class="input-list">
        <input [value]="value" 
            [(ngModel)]="value"
            (keyup)="send()"
            name="myInput" 
            type="text" 
            placeholder="{{placeholder}}" 
            class="text"
            autocomplete="off"
            autofocus="true">
        <i *ngIf="value!=''" class="fas fa-times" (click)="clear()" ></i>
    </div>
</div>   

