
<div class="input-section">
    <div class="left-wrapper">
        <span class="arrow material-symbols-outlined" (click)="navigate()">
            keyboard_backspace
        </span>
        <span class="route material-symbols-outlined">
            route
        </span>
    </div>
    <div class="right-wrapper">
        <input 
            [(ngModel)]="value" 
            (keyup)="filter()" 
            name="myInput" 
            type="text" 
            placeholder="search lines..." 
            class="text"
            autocomplete="off"
        >
        <i *ngIf="value!=''" (click)="clear()" class="fas fa-times"></i>
    </div>
</div>


<multiple-dropdown *ngIf="!selected"
    [data$]="lines$"
    [title]="'Search Lines'"
    [value]="value"
    (selectedValue)="changeValue($event)">
</multiple-dropdown>

<station-list-component *ngIf="selected"></station-list-component>
