
<div class="main">

    <spinner-component *ngIf="spinner$ | async"></spinner-component>
    <toaster-component *ngIf="false"></toaster-component>

    <div class="slider-wrapper">
        <mat-tab-group mat-stretch-tabs animationDuration="300ms">
            <mat-tab label="Places">
                <stop-dropdown 
                    [flag]="false">
                </stop-dropdown>
            </mat-tab>
            <mat-tab label="Saved">
                <stop-dropdown 
                    [saved]="true" 
                    [flag]="false">
                </stop-dropdown>
            </mat-tab>
        </mat-tab-group>
    </div>
</div>
