
<ng-container *ngIf="stop$ | async as stop else notSelected">
    <div class="entity-wrapper" (click)="flyToStop(stop)">
        <div class="entity-container">
            <div class="entity-type">
                <div class="stop-description">
                    <i class="fas fa-map-marker-alt"></i>
                    <span class="option-text">{{stop.desc}}({{stop.code}})</span>
                </div>
                <div class="icons">
                    <span class="material-symbols-outlined">
                        stairs
                    </span>
                </div>
            </div>
            <ng-container *ngIf="arrivals$ | async as arrivals">
                <ng-container *ngIf="arrivals.length > 0 else noBus">
                    <div class="text-content">
                        <i class="far fa-hourglass icon"></i>
                        <div class="arrival-list">
                            <ng-container *ngFor="let arrival of arrivals let last=last">
                                <span class="description" *ngIf="!last">
                                    <span class="bold">{{arrival.departureMins}}:{{arrival.departureSeconds}}', </span>
                                </span>
                                <span class="description" *ngIf="last">
                                    <span class="bold">{{arrival.departureMins}}:{{arrival.departureSeconds}}'</span>
                                </span>
                            </ng-container>
                        </div>
                    </div>
                    <div class="text-content">
                        <i class="fas fa-bus icon"></i>
                        <span class="description"><span class="bold">{{arrivals[0].lineCode}}</span></span>
                    </div>
                </ng-container>
            </ng-container>
        </div>
    </div>
</ng-container>

<ng-template #notSelected>
    <div class="entity-wrapper">
        <div class="entity-container">
            <div class="text-content-no-incoming" (click)="swapTab()">
                <span class="option-text">No station selected</span>
                <span class="description">Click to select</span>
            </div>
        </div>
    </div>
</ng-template>  

<ng-template #noBus>
    <div class="text-content-no-incoming" (click)="swapTab()">
        <span class="option-text">No incoming bus within 30'</span>
        <span class="description">Click to see schedule</span>
    </div>
</ng-template>
