

:host{
    display: flex;
    flex-direction: column;
    width: 100%;
    max-height: calc(100vh - 250px);
}

.entity-wrapper{
    background: rgb(227,227,236);
    background: linear-gradient(90deg, rgba(227,227,236,1) 0%, rgba(255,255,255,1) 100%);
    margin-top: 15px;
    margin-right: 5px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    cursor: pointer;
}

.text-content{
    display: flex;
    flex-direction: column;
}

.description{
    font-size: 14px;
    color: #8190a4;
}

.option-text{
    font-weight: 400;
}

.entity-container{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 7px;
    color: #545f6d;
    font-size: 17px;
    padding: 12px 15px 12px 15px;
}

.entity-type{
    display: flex;
    flex-direction: row;
    gap: 8px;
    margin-bottom: 5px;
}

.entity-type>i{
    padding-top: 2px;
}

.center{
    align-self: center !important;
    justify-self: center !important;
}