
:host{
  max-width: 75%;
  width: 75%;
  height: 100%;
}

.default{
  height: 100vh;
  box-sizing: border-box;
  position: relative;
}

.mini{
  width: 200px;
  height: 200px
}

#map{
  height: 100%;
  width: 100%;
  z-index: 10;
}

@media screen and (max-width: 500px) {
  .default{
    height: 100%;
  }
}
