

<form class="dropdown-form">
    <div class="dropdown-container">

        <label for="{{label}}">
            <i class="fas"
                [class.fa-map-marker-alt]="module=='start'"
                [class.fa-flag]="module=='finish'">
            </i>
            {{label}}
        </label>

        <div class="inner-container">

            <input type="text" id="{{label}}" 
                [(ngModel)]="value" 
                (keyup)="filter(value)" 
                (click)="hideDropdown=!hideDropdown"
                (focusout)="delay()"
                name="{{label}}" 
                placeholder="{{placeholder}}" 
                autocomplete="off"
            >

            <div class="dropdown" *ngIf="!hideDropdown">
                <ng-container *ngFor="let line of lines$ | async">
                    <div class="dropdown-option" *ngIf="true" (mouseup)="select(line)">
                        <i class="far fa-dot-circle"></i>
                        <span class="text">
                            {{line.line_descr}}
                        </span>
                    </div>
                </ng-container >
            </div>

        </div>
    </div>
</form>
