
<div class="option-list">

    <app-option *ngIf="!saved" (onSelect)="onLocation($event)"
        [icon]="'my_location'"
        [text]="'My location'"
        [data]="['my_location']">
    </app-option>

    <app-option *ngIf="!saved" (onSelect)="onMap($event)"
        [icon]="'map'"
        [text]="'Select on map'"
        [data]="['0', 'Custom', '39.667341104708946', '20.854922400637918']">
    </app-option>

    <ng-container *ngIf="stops$ | async as stops else noStops">
        <ng-container *ngIf="stops.length > 0 else noStops">
            <app-option *ngFor="let stop of stops"
                (onSelect)="onClick($event)"
                (save)="onSave($event)"
                (remove)="onRemove($event)"
                [menu]="true"
                [icon]="'location_on'"
                [text]="stop.desc"
                [desc]="stop.code"
                [saved]="stop.saved"
                [data]="[stop.code, stop.desc, stop.latitude, stop.longitude]">
            </app-option>
        </ng-container>
    </ng-container>
    
</div>

<ng-template #noStops>
    <app-option [text]="'No saved stops'"></app-option>
</ng-template>
