
<div class="option-list">

    <app-option *ngIf="!saved" (onSelect)="onLocation($event)"
        [icon]="'my_location'"
        [text]="'My location'"
        [data]="['my_location']">
    </app-option>

    <app-option *ngIf="!saved" (onSelect)="onMap($event)"
        [icon]="'map'"
        [text]="'Select on map'"
        [data]="['0', 'Custom', '39.667341104708946', '20.854922400637918']">
    </app-option>

    <app-option *ngFor="let stop of stops$ | async"
        (onSelect)="onClick($event)"
        [icon]="'location_on'"
        [text]="stop.desc"
        [desc]="stop.code"
        [data]="[stop.code, stop.desc, stop.latitude, stop.longitude]">
    </app-option>

</div>
