
<div class="item-wrapper" [class.last-station]="isLast" (click)="selectStop()">
    <i class="fas icon" 
        [class.fa-dot-circle]="!isLast" 
        [class.fa-map-marker-alt]="isLast">
    </i>
    <div class="station-details">
        <span class="station-name">{{stop.desc}}({{stop.code}})</span>
        <ng-container *ngIf="true">
            <ng-container *ngIf="false else noIncoming">
                <span class="arrive-time">Arrival in 
                    <!-- <ng-container *ngFor="let arrival of arrivals let last=last">
                        <span *ngIf="!last">{{arrival.btime2}}', </span>
                        <span *ngIf="last">{{arrival.btime2}}'</span>
                    </ng-container> -->
                </span>
            </ng-container>
        </ng-container>
    </div>
</div>

<ng-template #noIncoming >
    <span class="arrive-time">No incoming arrivals</span>
</ng-template>
