
<div class="item-wrapper" [class.last-station]="isLast" (click)="fetchSchedule()">
    <i class="fas icon" 
        [class.fa-dot-circle]="!isLast" 
        [class.fa-map-marker-alt]="isLast">
    </i>
    <div class="station-details">
        <span class="station-name">{{station.description}}({{station.heading}})</span>
        <ng-container *ngIf="(arrivals$ | async) as arrivals">
            <ng-container *ngIf="arrivals.length>0 else noIncoming">
                <span *ngFor="let arrival of arrivals" class="arrive-time">Bus arrives in {{arrival.btime2}} minutes</span>
            </ng-container>
        </ng-container>
    </div>
</div>

<ng-template #noIncoming >
    <span class="arrive-time">No incoming arrivals</span>
</ng-template>
