:host{
    height: 100%;
    width: 100%;
    padding: 0 20px 0 20px;
}

.logo-section{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 17vh;
    width: 100%;
    font-size: 30px;
}

.logo-content{
    color: #373a50;;
    font-weight: 600;
}

.option-list{
    display: flex;
    flex-direction: column;
    width: 100%;
}

i{
    margin-right: 13px;
}

.fa-bars{
    margin-left: 5px;
}
