
<ng-container *ngIf="itinerary as it">
    <div class="entity-wrapper">
        <div class="entity-container">
            <mat-accordion>
                <mat-expansion-panel hideToggle>
                    <mat-expansion-panel-header>
                        <i class="fas fa-sort-down"></i>
                        <div class="context">
                            <div class="line"></div>
                            <div class="time">{{it.startTime}}</div>
                            <ng-container *ngFor="let leg of it.legs">
                                <div class="walk-mode trail" [style.flex]="leg.flex" *ngIf="leg.mode == 'WALK'">
                                    <i class="fa fa-walking"></i>
                                </div>
                                <div class="bus-mode trail" [style.flex]="leg.flex" *ngIf="leg.mode == 'TRAM'">
                                    <i class="fa fa-bus"></i>
                                    <div class="code">{{leg.routeId}}</div>
                                </div>
                            </ng-container>
                            <div class="time">
                                <span class="">{{it.endTime}}</span>
                            </div>
                        </div>   
                    </mat-expansion-panel-header>
                    <div class="sumary-section">
                        <div class="header">
                            <span class="malakas">Summary</span>
                            <div class="inner-malakas">
                                <i class="fas fa-map" (click)="onSelect()"></i>
                                <section>
                                    <div class="example-button-row">
                                        <button class="custom-btn" mat-raised-button (click)="onBook()" color="primary">Κράτηση</button>
                                    </div>
                                </section>
                            </div>
                        </div>
                        <ng-container *ngFor="let leg of it.legs">
                            <div class="field" *ngIf="leg.mode == 'TRAM'">
                                <div class="title">
                                   Route
                                </div>
                                <div class="value">
                                    {{leg.routeId}}
                                </div>
                            </div>
                            <div class="field" *ngIf="leg.mode == 'TRAM'">
                                <div class="title">
                                    From
                                </div>
                                <div class="value">
                                    {{leg.from.name}}({{leg.from.stopCode}}), {{leg.startTime}}
                                </div>
                            </div>
                            <div class="field" *ngIf="leg.mode == 'TRAM'">
                                <div class="title">
                                    To
                                </div>
                                <div class="value">
                                    {{leg.to.name}}({{leg.to.stopCode}}), {{leg.endTime}}
                                </div>
                            </div>
                            <div class="field" *ngIf="leg.mode == 'TRAM'">
                                <div class="title">
                                    Available seats
                                </div>
                                <div class="value">
                                    {{occupancy[leg.tripId]}}
                                </div>
                            </div>
                        </ng-container>
                    </div>
                </mat-expansion-panel>
            </mat-accordion>
        </div>
    </div>
</ng-container>
