
:host{
    width: 100%;
}

:host:hover{
    cursor: pointer;
    transform: translateX(3px);
    transition-duration: .5s;
}

.entity-wrapper{
    background: rgb(227,227,236);
    background: linear-gradient(90deg, rgba(227,227,236,1) 0%, rgba(255,255,255,1) 100%);
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    cursor: pointer;
}

.entity-container{
    color: #545f6d;
    font-size: 14px;
    padding: 10px 10px 10px 10px;
}

.context{
    display: flex;
    flex-direction: row;
    width: 100%;
    gap: 3px;
    position: relative;
    font-size: 13px;
}

.bus-mode{
    flex: 1 1;
    background: #002D62;
}

.walk-mode{
    flex: 1 1;
    background: rgb(187, 187, 187);
}

.trail{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    color: white;
    z-index: 3;
    padding-right: 5px;
    padding-left: 5px;
}

.code{
    margin-left: 4px;
    margin-top: 1px;
}

.time{
    background-color: black;
    color: white;
    font-size: 11px;
    font-weight: bold;
    align-self: center;
    height: 14px;
    line-height: 15px;
    padding-left: 2px;
    padding-right: 2px;
    z-index: 3;
}

.line{
    position: absolute;
    top: 9px;
    right: 0px;
    z-index: 1;
    width: 100%;
    border-bottom: 2px solid rgb(20, 20, 20);
}

.sumary-section{
    display: flex;
    flex-direction: column;
    padding: 10px 5px 0px 5px;
}

.header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 5px;
    margin-top: 3px;
    align-items: center;
}

.malakas{
    color: #2e3e51;
    font-weight: bold;
    font-size: 16px;
}

.field{
    display: flex;
    flex-direction: row;
    gap: 10px;
    font-weight: bold;
    width: 100%;
}

.title{
    color: #2e3e51;
    font-size: 14px;
    font-weight: bold;
    white-space: nowrap;
}

.value{
    color: #545f6d;
    font-size: 13px;
}

::ng-deep .mat-expansion-panel-header {
    padding: 0 !important;
}

::ng-deep .mat-expansion-panel-header{
    height: 21px;
}

::ng-deep .mat-expansion-panel {
    background: transparent !important;
}

::ng-deep .mat-expansion-panel:not([class*=mat-elevation-z]) {
    box-shadow: none !important;
}

::ng-deep .mat-expansion-panel-header.mat-expanded {
    height: unset;
}

::ng-deep .mat-expansion-panel-body {
    padding: 0px !important;
}

::ng-deep .mat-flat-button.mat-primary, .mat-raised-button.mat-primary, .mat-fab.mat-primary, .mat-mini-fab.mat-primary {
    background-color: #002D62;
}

.mat-raised-button {
    min-width: unset !important;
    line-height: unset !important;
    padding: 4px 7px 3px 7px !important;
    font-size: 18px !important;
}

.fa-sort-down{
    color: #2e3e51;
    margin-right: 5px;
}

.inner-malakas{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 8px;
}

.inner-malakas>i{
    color: #002D62;
    font-size: 14px;
}

.book-btn{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 8px;
}

.book-btn>button{
    padding: 4px 18px 4px 18px !important;
    font-size: 18px !important;
}

.custom>button{
    padding-left: 5px !important;
    padding-right: 5px !important;
}

.fa-map{
    font-size: 20px !important;
    padding: 6px 6px 6px 6px !important;
    transition-duration: .4s;
    border-radius: 3px;
}

.fa-map:hover{
    background: #b7cbe4;
}