
<ng-container *ngIf="vm$ | async as vm">

    <ng-container *ngIf="{v: initValue$ | async} as obj">
        <input-field *ngIf="direction=='start'"
            [icon]="'trip_origin'"
            [placeholder]="'search start'"
            [type]="'start'"
            [value]="obj.v!"
            [title]="'Choose starting point'"
            (onType)="keyup($event)">
        </input-field>

        <input-field *ngIf="direction=='dest'"
            [icon]="'location_on'"
            [placeholder]="'search destination'"
            [type]="'dest'"
            [value]="obj.v!"
            [title]="'Choose destination'"
            (onType)="keyup($event)">
        </input-field>
    </ng-container>

    <router-outlet></router-outlet>
    
</ng-container>



