
<div class="left-wrapper">
  <span class="arrow material-symbols-outlined" (click)="back()">
    keyboard_backspace
  </span>
  <i class="fas fa-bars" (click)="toggle()"></i>
</div>

<form [formGroup]="credentials" (ngSubmit)="login()" class="simple-form">

  <h1>Login</h1>

  <mat-form-field appearance="fill">
    <mat-label>Email</mat-label>
    <input matInput formControlName="email">
    <mat-error *ngIf="errors('email', 'required')">Email is required</mat-error>
    <mat-error *ngIf="errors('email', 'email')">Must be an email</mat-error>
    <mat-error *ngIf="errors('email', 'minlength')">at least 3 characters long</mat-error>
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>Password</mat-label>
    <input type="password" matInput formControlName="password">
    <mat-error *ngIf="errors('password', 'required')">password is required</mat-error>
    <mat-error *ngIf="errors('password', 'minlength')">at least 3 characters</mat-error>
  </mat-form-field>

  <div class="error-msg" *ngIf="authMsg$ | async as msg">
    {{msg}}
  </div>

  <section>
    <div class="example-button-row">
      <button mat-stroked-button color="primary">Log in</button>
    </div>
  </section>

</form>

