
<h1>Itinerary Steps</h1>
<div class="option-list">
    <span><strong style="color: #2b3b4c;">Start</strong>: 5:35pm, 11/29/2022</span>
    <div class="entity-wrapper">
        <div class="entity-container">
            <mat-accordion>
                <mat-expansion-panel hideToggle>
                    <mat-expansion-panel-header>
                        <mat-panel-title class="panel-title">
                            <div class="mode">WALK</div>
                            <span class="mode-details">0.28 miles, 6 mins to DIKASTIKO</span>
                            <i class="fas fa-sort-down"></i>
                        </mat-panel-title>
                    </mat-expansion-panel-header>
                    <div class="walk-steps">
                        <div class="step">
                            <i class="fas fa-arrow-up"></i>
                            <span class="step-desc">Start on karaoli heading south</span>
                            <div class="step-dist">100m</div>
                        </div>
                        <div class="step">
                            <i class="fas fa-arrow-up"></i>
                            <span class="step-desc">Start on karaoli heading south</span>
                            <div class="step-dist">100m</div>
                        </div>
                        <div class="step">
                            <i class="fas fa-arrow-up"></i>
                            <span class="step-desc">Start on karaoli heading south</span>
                            <div class="step-dist">100m</div>
                        </div>
                        <div class="step">
                            <i class="fas fa-arrow-up"></i>
                            <span class="step-desc">Start on karaoli heading south</span>
                            <div class="step-dist">100m</div>
                        </div>
                        <div class="step">
                            <i class="fas fa-arrow-up"></i>
                            <span class="step-desc">Start on karaoli heading south</span>
                            <div class="step-dist">100m</div>
                        </div>
                        <div class="step">
                            <i class="fas fa-arrow-up"></i>
                            <span class="step-desc">Start on karaoli heading south</span>
                            <div class="step-dist">100m</div>
                        </div>
                    </div>
                </mat-expansion-panel>
            </mat-accordion>
        </div>
    </div>    
    <div class="entity-wrapper">
        <div class="entity-container">
            <mat-accordion>
                <mat-expansion-panel hideToggle>
                    <mat-expansion-panel-header>
                        <mat-panel-title class="panel-title">
                            <div class="mode">BUS</div>
                            <span class="mode-details">Route 16</span>
                            <i class="fas fa-sort-down"></i>
                        </mat-panel-title>
                    </mat-expansion-panel-header>
                    <div class="bus-route">
                        <div class="step">
                            <i class="fas fa-bus"></i>
                            <span class="step-desc">Board at Dikastiko</span>
                            <div class="step-dist">4:40am</div>
                        </div>
                        <mat-accordion>
                            <mat-expansion-panel hideToggle>
                                <mat-expansion-panel-header>
                                    <mat-panel-title class="panel-title">
                                        <div class="step">
                                            <i class="fas fa-route"></i>
                                            <span class="step-desc stops">5 stops</span>
                                            <div class="step-dist">5 mins</div>
                                        </div>
                                    </mat-panel-title>
                                </mat-expansion-panel-header>
                                <div class="walk-steps">
                                    <div class="step">
                                        <i class="fas fa-map-marker-alt"></i>
                                        <span class="step-desc">JUMBO(101)</span>
                                        <div class="step-dist">4:42am</div>
                                    </div>
                                    <div class="step">
                                        <i class="fas fa-map-marker-alt"></i>
                                        <span class="step-desc">JUMBO(101)</span>
                                        <div class="step-dist">4:42am</div>
                                    </div>
                                    <div class="step">
                                        <i class="fas fa-map-marker-alt"></i>
                                        <span class="step-desc">JUMBO(101)</span>
                                        <div class="step-dist">4:42am</div>
                                    </div>
                                </div>
                            </mat-expansion-panel>
                        </mat-accordion>
                        <div class="step">
                            <i class="fas fa-bus"></i>
                            <span class="step-desc">Alight at PYLH PANEP</span>
                            <div class="step-dist">4:60am</div>
                        </div>
                    </div>
                </mat-expansion-panel>
            </mat-accordion>
        </div>
    </div> 
    <span><strong style="color: #2b3b4c;">End</strong>: 5:50pm, 11/29/2022</span>
</div>


