
<div class="name-wrapper">
  <h2 class="stations-header">
    Stations
  </h2>
</div>

<div class="stations-list">
    <div class="outer-container">
      <ul class="station-line">

        <ng-container *ngFor="let station of currentRouteStations$ | async let last = last">
          <li class="station-item" [class.last-station]="last">
            <i class="fas" 
              [class.fa-circle]="!last" 
              [class.fa-map-marker]="last">
            </i>
            <div class="station-details">
              <span class="station-name">{{station.description}}</span>
              <span class="arrive-time">Next arrival in: {{station.stationCode}}</span>
            </div>
          </li>
        </ng-container>

      </ul>
    </div>
</div>

