
<ng-container *ngIf="vm$ | async as vm">
    <ng-container *ngIf="vm.booking">

        <input-field
            [value]="'Line ' + vm.booking.route"
            [disabled]="true"
            [icon]="'qr_code'"
            [title]="'QR code of booking'">
        </input-field>

        <div class="main">
            <spinner-component *ngIf="vm.spinner"></spinner-component>
            <div class="option-list">
                <booking-component [flag]="false" [booking]="vm.booking"></booking-component>
            </div>
            <qrcode [qrdata]="data(vm.booking.user_id, vm.booking.trip_id)" [width]="170" [errorCorrectionLevel]="'M'"></qrcode>
        </div>

    </ng-container>
</ng-container>



<ng-template #noSelected>
    <app-option [text]="'No booking selected'"></app-option>
</ng-template>
