
<h1>Preferences</h1>
<form [formGroup]="tripOptions" novalidate class="option-list" *ngIf="state$ | async as state">

    <mat-form-field class="directions" appearance="fill">
        <mat-label>Date</mat-label>
        <input formControlName="date" id="date"
            (dateInput)="updateDate($event)"
            (dateChange)="updateDate($event)"
            placeholder="pick a date" 
            matInput [matDatepicker]="picker" autocomplete="off">
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
        <mat-hint>MM/DD/YYYY</mat-hint>
        <mat-error *ngIf="tripOptions.controls['date'].hasError('required')">Date is required</mat-error>
    </mat-form-field>

    <mat-form-field appearance="fill" class="directions pl-sm-8 no-errors-spacer" >
        <mat-label>Time</mat-label>
        <input (change)="updateTime($event)" class="input" formControlName="time" id="time" matInput type="time">
        <mat-hint>HH/MM/AM-PM</mat-hint>
        <mat-error *ngIf="tripOptions.controls['time'].hasError('required')">Time is required</mat-error>
    </mat-form-field>

    <mat-form-field appearance="fill">
        <mat-label>Direction</mat-label>
        <mat-select (valueChange)="updateSelect($event)" [value]="state.arriveBy">
            <mat-option value="depart">Depart</mat-option>
            <mat-option value="arrive">Arrive</mat-option>
        </mat-select>
    </mat-form-field>

    <div class="error-msg" *ngIf="
        !tripOptions.valid || 
        state.start.length == 0 || 
        state.destination.length == 0">
        Some fields are invalid
    </div>

    <app-option (onSelect)="plan(state.start, state.destination)"
        [icon]="'route'"
        [text]="'Search routes'"
        [data]="['route']">
    </app-option>

</form>

