
<ng-container *ngIf="line$ | async as line">

    <input-field
        [value]="'Line ' + line.name"
        [icon]="'route'"
        [type]="'start'"
        [disabled]="true">
    </input-field>

    <div class="main">
        <h1>Routes</h1>
        <div class="option-list">
            <app-option *ngFor="let route of routes$ | async"
                (onSelect)="onSelect($event)"
                [icon]="'route'"
                [text]="route.desc"
                [desc]="route.code"
                [data]="['lines', route.lineId, 'route', route.code]">
            </app-option>
        </div>
    </div>

</ng-container>
