
<div class="slider-wrapper" #wrapper [class.z]="!flag">
    <div (cdkDragEnded)="dragEnd($event)" 
        (focusout)="onFocusOut($event)"
        class="bar" 
        cdkDragLockAxis="x" 
        cdkDrag 
        cdkDragBoundary=".slider-wrapper"
        [cdkDragFreeDragPosition]="dragPosition"
        [cdkDragStartDelay]="20">
        <div class="header">
            <i class="fas fa-bus"></i>
            <span>Go Bus</span>
        </div>
        <div *ngIf="!authenticated" class="item" (click)="logInOut('login')">
            <i class="fas fa-sign-in-alt"></i>
            <span>Log In</span>
        </div>
        <div *ngIf="!authenticated" class="item" (click)="logInOut('register')">
            <i class="fas fa-user"></i>
            <span>Register</span>
        </div>
        <div *ngIf="authenticated" class="item">
            <i class="fas fa-user-circle"></i>
            <span>{{user.name}}</span>
        </div>
        <div class="item" (click)="home()">
            <i class="fas fa-home"></i>
            <span>Home</span>
        </div>
        <div *ngIf="authenticated" class="item" (click)="logout()">
            <i class="fas fa-sign-out-alt"></i>
            <span>Log out</span>
        </div>
        <div class="item">
            <i class="fas fa-cog"></i>
            <span>Settings</span>
        </div>
    </div>
</div>

<div id="overlay" (click)="onFocusOut($event)" [class.block]="flag"></div>

<router-outlet name="sidebar" #outlet="outlet"></router-outlet>
