:host{
    width: 25vw;
    box-sizing: border-box;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: rgb(195,197,213);
    background: linear-gradient(90deg, rgba(195,197,213,1) 0%, rgba(239,243,248,1) 100%);
    font-family: Roboto, "Helvetica Neue", sans-serif;
    overflow: auto;
}