

<div class="slider-wrapper">

    <div class="app-logo">
        <i class="fas fa-bus bus-big"></i>
        <h1>GoBus</h1>
    </div>

    <div class="tab-options">
        <div class="header-options-wrapper">
            <div class="underline" 
                [class.option-one]="active[0]"
                [class.option-two]="active[1]"
                [class.option-three]="active[2]">
            </div>
            <div class="header-option" 
                [class.option-active]="active[0]" 
                (click)="change(0, 'routes')">
                Routes
            </div>
            <div class="header-option" 
                (click)="change(1, 'stations')"
                [class.option-active]="active[1]">
                Stations
            </div>
            <div class="header-option" 
                (click)="change(2, 'bestRoute')"
                [class.option-active]="active[2]">
                Best Route
            </div>
        </div>
    </div>
</div>

<!-- <div class="separetor"></div> -->

<div class="description">
    <h1>
        <strong>Search routes from</strong>
    </h1>
</div>



<ng-container *ngIf="module=='routes'">
    <dropdown-component
        [placeholder]="'station, bus id, postal code...'"
        [label]="'Start'"
        [module]="'start'">
    </dropdown-component>
</ng-container>

<ng-container *ngIf="module=='stations'">
    <dropdown-component
        [placeholder]="'station, bus id, postal code...'"
        [label]="'Start'"
        [module]="'start'">
    </dropdown-component>

    <dropdown-component
        [placeholder]="'station, bus id, postal code...'"
        [label]="'Destination'"
        [module]="'finish'">
    </dropdown-component>
</ng-container>

<ng-container *ngIf="module=='bestRoute'">
    <dropdown-component
        [placeholder]="'station, postal code, area, '"
        [label]="'Destination'"
        [module]="'start'">
    </dropdown-component>
</ng-container>

<station-list-component></station-list-component>


